Repository radiojhero/players: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --ext .js,.ts --fix

.lintstagedrc.json:

{
    "*.scss": ["stylelint --fix"],
    "*.{js,ts}": ["eslint --ext .js,.ts --fix"]
}

Add .nvmrc
  .nvmrc
Due: none

Fix README.md
  README.md
Due: none

Upgrade dependencies
  package.json
  yarn.lock
Due: none

Add Netlify redirects
  src/public/_redirects
Due: none

Add new redirect
  src/public/_redirects
Due: none

Upgrade dependencies
  .eslintrc.json
  .prettierrc.json
  package.json
  src/other/polyfills.ts
  webpack.config.ts
  yarn.lock
Due: eslint --ext .js,.ts --fix

Allow metadata error handling
  src/core/events.ts
  src/core/metadata.ts
Due: eslint --ext .js,.ts --fix

Upgrade dependencies
  .eslintrc.json
  package.json
  webpack.config.ts
  yarn.lock
Due: eslint --ext .js,.ts --fix

Lint
  .eslintrc.json
  src/core/caster/chromecast-caster.ts
  src/core/caster/factory.ts
  src/core/media-session.ts
  src/core/player.ts
  src/misc/add-to-query-string.ts
  src/misc/ajax.ts
  src/misc/closest.ts
  src/misc/time-format.ts
  src/misc/wrap.ts
  src/other/polyfills.ts
  src/players/default/ts/index.ts
  src/players/default/ts/marquee.ts
  src/players/default/ts/tabs.ts
Due: eslint --ext .js,.ts --fix

Upgrade Node
  .nvmrc
Due: none

Clamp song progress to duration
  src/core/media-session.ts
Due: eslint --ext .js,.ts --fix

Upgrade dependencies
  .eslintrc.json
  .nvmrc
  package.json
  webpack.config.ts
  yarn.lock
Due: eslint --ext .js,.ts --fix

Fix overflowing program description content
  src/players/default/scss/_base.scss
  src/players/default/scss/_player-vertical.scss
Due: stylelint --fix

Fix "Chat" → "Discord"
  src/players/default/layout.html
Due: none

Fix lint
  .eslintrc.json
Due: none

Don't use CORS credentials by default
  src/misc/ajax.ts
Due: eslint --ext .js,.ts --fix

Fix song requests form when on playlist mode
  src/players/default/ts/song-requests.ts
Due: eslint --ext .js,.ts --fix

Lint
  .eslintrc.json
  src/core/events.ts
  src/misc/closest.ts
  src/misc/query.ts
  src/misc/ready.ts
  src/misc/time-format.ts
  src/misc/wrap.ts
  src/players/default/ts/analyser.ts
  src/players/default/ts/progress-bar.ts
  src/typings/supplements.d.ts
Due: eslint --ext .js,.ts --fix

Fix `replaceClasses()` with newlines inside tags
  src/misc/replace-classes.ts
Due: eslint --ext .js,.ts --fix

Revamp song requests a bit
  player-settings.example.json
  src/players/default/scss/_player-vertical.scss
  src/players/default/ts/song-requests.ts
  webpack.config.ts
Due: stylelint --fix, eslint --ext .js,.ts --fix

Do song request validation
  src/players/default/ts/song-requests.ts
Due: eslint --ext .js,.ts --fix

Upgrade dependencies
  .nvmrc
  package.json
  yarn.lock
Due: none

Upgrade dependencies
  .eslintrc.json
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.json
  package.json
  webpack.config.ts
  yarn.lock
Due: eslint --ext .js,.ts --fix

Fix media session on Safari 15
  src/core/media-session.ts
Due: eslint --ext .js,.ts --fix

Update media session typings
  src/core/media-session.ts
  src/typings/supplements.d.ts
Due: eslint --ext .js,.ts --fix

Remove custom host
  webpack.config.ts
Due: eslint --ext .js,.ts --fix

Refactor song request form
  src/players/default/layout.html
  src/players/default/scss/_player-vertical.scss
  src/players/default/ts/song-requests.ts
Due: stylelint --fix, eslint --ext .js,.ts --fix

Add RAM format
  src/players/default/layout.html
Due: none

Don't extract JS banner to a separate file
  package.json
  webpack.config.ts
  yarn.lock
Due: eslint --ext .js,.ts --fix

Fix media session on older browsers
  src/core/media-session.ts
Due: eslint --ext .js,.ts --fix

Add maximum length on song request fields
  src/players/default/layout.html
Due: none

Prevent text from resizing on mobile
  src/players/default/scss/_base.scss
Due: stylelint --fix

Adjust night mode palette
  src/players/default/scss/_base.scss
  src/players/default/scss/_mixins.scss
  src/players/default/scss/_player-compact-horizontal.scss
  src/players/default/scss/_player-horizontal.scss
  src/players/default/scss/_player-long-horizontal.scss
  src/players/default/scss/_player-vertical.scss
  src/players/default/scss/_vars.scss
Due: stylelint --fix
