Repository radiojhero/players: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --cache --ext .js,.ts --fix

Upgrade dependencies and lint code
  .husky/pre-commit
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/core/player.ts
  src/misc/add-to-query-string.ts
  src/misc/closest.ts
  src/misc/query.ts
  src/misc/ready.ts
  src/misc/time-format.ts
  src/misc/volume.ts
  src/players/default/ts/analyser.ts
  src/players/default/ts/font.ts
  src/players/default/ts/index.ts
  src/players/default/ts/marquee.ts
  src/players/default/ts/progress-bar.ts
  src/players/default/ts/volume.ts
  webpack.config.ts
Due: eslint --cache --ext .js,.ts --fix

Upgrade dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: none

Avoid extending built-ins
  .babelrc
  package.json
  pnpm-lock.yaml
  src/core/caster/airplay-caster.ts
  src/core/caster/chromecast-caster.ts
  src/core/caster/factory.ts
  src/core/caster/index.ts
  src/core/player-dom.ts
  src/core/player.ts
  src/other/polyfills.ts
Due: eslint --cache --ext .js,.ts --fix

Fix SCSS importing
  src/players/default/ts/analyser.ts
  src/players/default/ts/index.ts
  src/players/default/ts/marquee.ts
  src/players/default/ts/pane-toggle.ts
  src/players/default/ts/play-state.ts
  src/players/default/ts/progress-bar.ts
  src/players/default/ts/tabs.ts
  src/players/default/ts/volume.ts
  src/typings/noncode.d.ts
Due: eslint --cache --ext .js,.ts --fix

Adjust loader regexes
  webpack.config.ts
Due: eslint --cache --ext .js,.ts --fix

Upgrade dependencies and linting setup
  .eslintignore
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  .nvmrc
  .prettierignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/core/caster/factory.ts
  src/core/media-session.ts
  src/core/player-dom.ts
  src/core/player.ts
  src/misc/add-to-query-string.ts
  src/misc/ajax.ts
  src/misc/closest.ts
  src/misc/parse-parameters.ts
  src/misc/query.ts
  src/other/polyfills.ts
  src/players/default/ts/analyser.ts
  tsconfig.json
  webpack.config.ts
Due: eslint --cache --ext .js,.ts --fix

Fix dist command
  package.json
Due: none

Fix sparse array bugs
  src/core/player.ts
  src/players/default/ts/analyser.ts
Due: eslint --cache --ext .js,.ts --fix

Make sure code compiles before committing
  .husky/pre-commit
Due: none

Upgrade Node.js version
  .nvmrc
Due: none

Silence Sass deprecation warnings for now
  webpack.config.ts
Due: eslint --cache --ext .js,.ts --fix

Use more early returns
  src/players/default/ts/marquee.ts
Due: eslint --cache --ext .js,.ts --fix

Add fade-in and fade-out effects on play and pause respectively
  src/core/player-dom.ts
  src/core/player.ts
  src/misc/analyser.ts
  src/misc/audio-source.ts
  src/misc/gain.ts
  src/misc/volume.ts
Due: eslint --cache --ext .js,.ts --fix

Upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: none

Silence deprecations
  src/players/default/scss/_base.scss
  src/players/default/scss/_mixins.scss
  src/players/default/scss/_player-compact-horizontal.scss
  src/players/default/scss/_player-horizontal.scss
  src/players/default/scss/_player-long-horizontal.scss
  src/players/default/scss/_player-vertical.scss
  src/players/default/scss/index.scss
Due: stylelint --fix

Make preparations for new player layout
  src/core/player.ts
  src/players/v4/index.ts
  src/players/v4/layout.html
  src/players/v4/scss/_base.scss
  src/players/v4/scss/_mixins.scss
  src/players/v4/scss/_player-compact-horizontal.scss
  src/players/v4/scss/_player-horizontal.scss
  src/players/v4/scss/_player-long-horizontal.scss
  src/players/v4/scss/_player-vertical.scss
  src/players/v4/scss/_vars.scss
  src/players/v4/scss/index.scss
  src/players/v4/ts/analyser.ts
  src/players/v4/ts/font.ts
  src/players/v4/ts/index.ts
  src/players/v4/ts/marquee.ts
  src/players/v4/ts/pane-toggle.ts
  src/players/v4/ts/play-state.ts
  src/players/v4/ts/progress-bar.ts
  src/players/v4/ts/root.ts
  src/players/v4/ts/song-requests.ts
  src/players/v4/ts/tabs.ts
  src/players/v4/ts/volume.ts
Due: stylelint --fix, eslint --cache --ext .js,.ts --fix

Transition to durations in milliseconds
  src/core/clock.ts
  src/core/media-session.ts
  src/core/player-dom.ts
  src/misc/time-format.ts
  src/typings/constants.d.ts
  webpack.config.ts
Due: eslint --cache --ext .js,.ts --fix

Refactor position state handling to use nullish coalescing for duration and position
  src/core/media-session.ts
Due: eslint --cache --ext .js,.ts --fix

Ensure song progress is non-negative
  src/core/clock.ts
Due: eslint --cache --ext .js,.ts --fix

New logo
  src/players/v4/scss/_base.scss
Due: stylelint --fix

Set MediaSession's artwork as the currently playing song's (if available)
  src/core/media-session.ts
  src/core/metadata.ts
Due: eslint --cache --ext .js,.ts --fix

Reformat HTML
  src/players/v4/layout.html
Due: none

Add "album" metadata
  src/players/v4/layout.html
  src/players/v4/scss/_base.scss
  src/players/v4/scss/_player-long-horizontal.scss
  src/players/v4/ts/index.ts
Due: stylelint --fix, eslint --cache --ext .js,.ts --fix

Add new `sourcechange` event
  src/core/events.ts
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Check for `NaN` before assigning
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Fix initial `sourcechange` event
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Rename variable
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Upgrade dependencies
  .nvmrc
  biome.json
  package.json
  pnpm-lock.yaml
Due: none

Upgrade dependencies
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: none

Update audio element attachment to use a specified container
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Expose audio analysis
  src/core/player.ts
Due: eslint --cache --ext .js,.ts --fix

Fix typings
  src/misc/analyser.ts
Due: eslint --cache --ext .js,.ts --fix

Handle missing audio source
  src/misc/analyser.ts
Due: eslint --cache --ext .js,.ts --fix

Allow custom initial volume
  src/misc/audio-source.ts
  src/misc/gain.ts
Due: eslint --cache --ext .js,.ts --fix

Expose DOM element
  src/misc/audio-source.ts
Due: eslint --cache --ext .js,.ts --fix

Path conditions:
  stylelint --fix: any of: *.scss
  eslint --cache --ext .js,.ts --fix: any of: *.{js,ts}
