Repository radiojhero/players: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --cache --ext .js,.ts --fix

.lintstagedrc.json:

{
    "*.scss": ["stylelint --fix"],
    "*.{js,ts}": ["eslint --cache --ext .js,.ts --fix"]
}

Upgrade dependencies
  .lintstagedrc.json
  .nvmrc
  .stylelintrc.json
  package.json
  yarn.lock
Due: none

Upgrade dependencies
  .nvmrc
  package.json
  yarn.lock
Due: none

Lint
  src/core/caster/chromecast-caster.ts
  src/core/events.ts
  src/misc/ajax.ts
  src/other/polyfills.ts
  src/players/default/ts/marquee.ts
Due: eslint --cache --ext .js,.ts --fix

Readd missing polyfill
  package.json
  webpack.config.ts
  yarn.lock
Due: eslint --cache --ext .js,.ts --fix

Upgrade dependencies
  .nvmrc
  package.json
  webpack.config.ts
  yarn.lock
Due: eslint --cache --ext .js,.ts --fix

Switch from node-sass to dart-sass
  package.json
  src/players/default/scss/_base.scss
  src/players/default/scss/_mixins.scss
  yarn.lock
Due: stylelint --fix

Improve focus handling when switching panes
  src/players/default/ts/pane-toggle.ts
Due: eslint --cache --ext .js,.ts --fix

Prevent scrolling on focus
  src/players/default/ts/pane-toggle.ts
Due: eslint --cache --ext .js,.ts --fix

Lint
  src/core/player.ts
Due: eslint --cache --ext .js,.ts --fix

Hide volume control when not hovering/focused
  src/players/default/scss/_base.scss
Due: stylelint --fix

Upgrade dependencies
  package.json
  yarn.lock
Due: none

Support changing streaming source after init
  player-settings.example.json
  src/core/player-dom.ts
  src/core/player.ts
  src/typings/constants.d.ts
Due: eslint --cache --ext .js,.ts --fix

Oops
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Resume playback on source change
  src/core/player-dom.ts
  src/core/player.ts
Due: eslint --cache --ext .js,.ts --fix

Do nothing if setting the same source index
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Migrate from Yarn to PNPM
  CONTRIBUTING.md
  pnpm-lock.yaml
  yarn.lock
Due: none

Upgrade dependencies
  .eslintrc.json
  .nvmrc
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: none

Lint
  .stylelintrc.json
  src/core/caster/factory.ts
  src/core/events.ts
  src/core/media-session.ts
  src/core/metadata.ts
  src/core/player-dom.ts
  src/core/player.ts
  src/core/tracker.ts
  src/misc/analyser.ts
  src/misc/closest.ts
  src/misc/replace-classes.ts
  src/misc/wrap.ts
  src/players/default/scss/_base.scss
  src/players/default/scss/_mixins.scss
  src/players/default/scss/_player-compact-horizontal.scss
  src/players/default/scss/_player-horizontal.scss
  src/players/default/scss/_player-long-horizontal.scss
  src/players/default/scss/_player-vertical.scss
  src/players/default/scss/_vars.scss
  src/players/default/scss/index.scss
  src/players/default/ts/analyser.ts
  src/players/default/ts/font.ts
  src/players/default/ts/index.ts
  src/players/default/ts/marquee.ts
  src/players/default/ts/pane-toggle.ts
  src/typings/main.d.ts
  webpack.config.ts
Due: stylelint --fix, eslint --cache --ext .js,.ts --fix

Upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: none

Fix time offset calculation
  player-settings.example.json
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Resync metadata when switching source
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Filter out unplayable sources
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Fix unpnayable sources being exposed
  src/core/player-dom.ts
  src/core/player.ts
Due: eslint --cache --ext .js,.ts --fix

Fix wrong index
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Upgrade dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: none

Lint
  src/other/polyfills.ts
  src/players/default/scss/_base.scss
Due: stylelint --fix, eslint --cache --ext .js,.ts --fix

Remove deprecated package
  .babelrc
  package.json
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Avoid overlapping requests
  src/core/metadata.ts
Due: eslint --cache --ext .js,.ts --fix

Remove outdated type definitions
  package.json
  pnpm-lock.yaml
  src/core/media-session.ts
  src/typings/airplay.d.ts
  src/typings/supplements.d.ts
Due: eslint --cache --ext .js,.ts --fix

Serve best bitrate according to connection type
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Assume iOS users are always on a metered connection
  src/core/player-dom.ts
Due: eslint --cache --ext .js,.ts --fix

Upgrade dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
  webpack.config.ts
Due: eslint --cache --ext .js,.ts --fix

Upgrade dependencies
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

Remove broken david-dm link
  README.md
Due: none
